enable-replacements=True
c-relations=True
case=[1,1,1,1]
indent=4
line-length=132
strict-indent=True
strip-comments=True
whitespace-relational=True
whitespace-logical=True
whitespace-plusminus=True
whitespace-multdiv=True
whitespace-comma=True
whitespace-intrinsics=True
whitespace-print=False
whitespace-type=False
whitespace-decl=True
enable-decl=True
disable-fypp=True
disable-indent-mod=False
